# Sign in with Vercel
# Get these from your app's Manage page: https://vercel.com/docs/sign-in-with-vercel/manage-from-dashboard
NEXT_PUBLIC_VERCEL_APP_CLIENT_ID="your-client-id"
VERCEL_APP_CLIENT_SECRET="your-client-secret"
